<div class="jumbotron">
  <div class="row m-5">
    <h1>シャッフルランチアプリ</h1>
  </div>

        <div class="row">
        <a class="btn btn-outline-danger btn-lg mt-3 ml-5 mr-4" href="/home/shuffle" role="button">ランチシャッフル »</a>
        <a class="btn btn-outline-danger btn-lg mt-3" href="/workshop/shuffle" role="button">研修シャッフル　 »</a>
        </div>
  </div>
</div>
