<div class="jumbotron">

        <div class="row m-5">
        <h1>シャッフルランチアプリ</h1>
        </div>

        <div class="row">
        <a class="btn btn-outline-danger btn-lg mt-5 mx-5" href="/home/shuffle" role="button">ランチシャッフル »</a>
        <a class="btn btn-outline-danger btn-lg mt-5" href="/home/shuffleafter" role="button">研修シャッフル　 »</a>
        </div>
      </div>
